body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0a0a0a; /* Very dark green (close to black) */
    color: #ffd700; /* Neon gold */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header button {
    background-color: #070707; /* Darker shade of very dark green */
    color: #ffd700; /* Neon gold */
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
}

.subheader {
    background-color: #070707; /* Darker shade of very dark green */
    color: #ffd700; /* Neon gold */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.subheader button {
    background-color: #070707; /* Darker shade of very dark green */
    color: #ffd700; /* Neon gold */
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
}
select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    color: #ffd700; /* Neon gold */
    background-color: #070707; /* Darker shade of very dark green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0a0a0a; /* Very dark green (close to black) */
    color: #ffd700; /* Neon gold */
}
#locquestions li {
    color: #0a0a0a; /* Very dark green (close to black) */
    background-color: #ffd700; /* Neon gold */
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
}
